.root{
    -fx-font-size: 18pt;
    -fx-font-family: System;
}

.button {
   -fx-font-size: 14pt;
   -fx-font-family: System;
}

.table-column {
  -fx-alignment: center;
}

.table-row-cell:filled:selected {
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}

.weekend {
   -fx-font-weight: bold;
}

.holyday {
   -fx-background-color: lawngreen;
}

.toplabel {
   -fx-font-weight: bold;
}

.tophbox {
   -fx-background-color: aliceblue;
}